extends layout

block content
    form(action="#")
        p Name:&emsp;
            input#name(type="text")
        p Message:&emsp;
            textarea#msg
        p Due Date:&emsp;
            input#date(type="text" placeholder="dd/mm/yyyy")
        input#addTodo(type="submit" value="Add Todo")